.login-container {
    font-family: 'Arial', sans-serif;
    background: #F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 25px;
    padding-left: 30px;
}

.login-logo-icon {
    width: 179px;
    height: 29px;
}

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
