.reset-page {
    font-family: 'Arial', sans-serif;
    background: #F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.reset-logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 25px;
    padding-left: 30px;
}

.reset-logo-icon {
    width: 179px;
    height: 29px;
}

.reset-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 1px 0px 26.1px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 422px;
    height: 332px;
}

.reset-title {
    width: 328px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    padding-top: 15px;
}

.new-password-input {
    width: 280px;
    height: 50px;
    border-radius: 12px;
    background: #F5F7FA;
    color: #565656;
    font-family: Roboto;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 40px;
    border: none;
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.new-password-input:focus {
    outline: none;
    box-shadow: 0 0 5px #565656;
}

.input-error {
    border: 1px solid red;
}

.show-password {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.show-password input {
    margin-right: 5px;
}

.reset-btn {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 12px;
    background-color: #27272b;
    color: #fff;
    width: 280px;
    height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #3c3c42;
    transform: scale(1.05);
}

.back-icon {
    display: block;
    position: absolute;
    padding-right: 355px;
    cursor: pointer;
    color: #3c3c42;
    font-size: 24px;
    z-index: 1000;
}

.new-password-input-container {
    position: relative;
    padding-bottom: 8px;
}

.new-password-toggle-password-visibility {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    padding-bottom: 7px;
}

.reset-password-buttons {
    padding-top: 20px;
}
